<div class='container'>
	<h1><%= device.hostname %></h1>
	<h3>ip address: <%= device.ipaddress %></h3>
	<a class="btn btn-medium btn-primary" href="/device">Device List</a>
	<a class="btn btn-medium btn-success" href="/device/edit/<%= device.id %>">Edit</a>
</div>