<div class="container">
	<div class="jumbotron">
		<h1> Connectivity tester </h1>
		
		<h2> Testing connectivity to routers </h2>
		<a href="user/new" class="btn btn-lg btn-success"> Sing-up now</a>
	</div>
</div>