<div class="container">
	<div class="jumbotron">
		<h1> Connectivity tester </h1>
		
		<h2> Testing connectivity to routers </h2>
		<% if (session.authenticated) { %>
		<p>
			<a href="/device" class="btn btn-primary btn-lg " role="button">Devices</a>
			<a href="/test" class="btn btn-primary btn-lg " role="button">Test Console</a>
			<a href="/user" class="btn btn-primary btn-lg " role="button">Users</a>
		</p>
		<% } else {%>
		<a href="user/new" class="btn btn-lg btn-success"> Sing-up now</a>
		<% } %>
	</div>
</div>