
<div class="dropdown">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Device <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
	<% for (var i = 0; i < devices.length; i++) { %>
    <li><a href="device/<%=devices[i].id%>" class='selectDevice' id=<%= roles %>><%= devices[i].ip %></a></li>
	<% } %>
  </ul>
</div>

