<tr>
	<td><a href="#" id='deleteRow'>Delete</a></td>
	<td>Localhost</td>
	<td><a href="/test/ping" class='commandButton'>Internet</a></td>
	<td><a href="/test/trace" class='commandButton'>Internet</a></td>
</tr>