
<div class="container">
  <h3>Testing</h3>

  <table class='table'>
    <tr>
	  <th>Source</th>
	  <th>Ping</th>
	  <th>Traceroute</th>
	  <th>Output</th>
	</tr>

	<tr>

	  <td>From</td>
	  <td><a href="/test/ping" id='commandButton'>Ping</a></td>
	  <td><a href="/test/trace" id='commandButton'>Traceroute</a</td>
	  <td><textarea rows="30" cols="150" rowspan=99 id='outputArea'>#</textarea></td>
	  

	  
	</tr>


  </table>
 </div>
